:global {
	@each $pixel in (3 5 8 10 20 30 40 50 60 70 80 90 100 150 200 250 300) {
		$dimen: ($pixel/10);
		@each $side in (top right bottom left) {
			.marg-#{$side}-#{$pixel} {
				margin-#{$side}: #{$dimen}rem;
			}

			.pad-#{$side}-#{$pixel} {
				padding-#{$side}: #{$dimen}rem;
			}
		}

		.min-width-#{$pixel} {
			min-width: #{$dimen}rem !important;
		}

		.min-height-#{$pixel} {
			min-height: #{$dimen}rem !important;
		}

		.max-height-#{$pixel} {
			max-height: #{$dimen}rem !important;
		}

		.max-width-#{$pixel} {
			max-width: #{$dimen}rem !important;
		}

		.marg-horiz-#{$pixel} {
			margin-left: #{$dimen}rem;
			margin-right: #{$dimen}rem;
		}

		.marg-vert-#{$pixel} {
			margin-top: #{$dimen}rem;
			margin-bottom: #{$dimen}rem;
		}

		.pad-horiz-#{$pixel} {
			padding-left: #{$dimen}rem;
			padding-right: #{$dimen}rem;
		}

		.pad-vert-#{$pixel} {
			padding-top: #{$dimen}rem;
			padding-bottom: #{$dimen}rem;
		}
	}

	.full-height {
		height: 100%;
	}

	.full-screen {
		height: 100vh !important;
	}
}
