:global {
	.btn-cta {
		background-color: $color-accent;
		text-align: center;
		border: none;
		outline: none;
		width: 100%;
		padding: 2rem;
		color: $color-black;
		cursor: pointer;
		font-size: 2rem;

		&--small {
			padding: 1rem;
			font-size: 1.6rem;
		}
	}
}
