:global {
	.separator {
		display: flex;
		align-items: center;
		color: $color-dark-text;
		font-weight: 300;

		&::before {
			content: '';
			background: $color-grey-dark;
			display: block;
			flex: 1 1 100%;
			height: 0.2rem;
			margin-right: 1.5rem;
		}

		&::after {
			content: '';
			background: $color-grey-dark;
			display: block;
			flex: 1 1 100%;
			height: 0.2rem;
			margin-left: 1.5rem;
		}
	}
}
