@import '../../scss/variables/colors';

.btn-container {
	display: flex;
	margin-top: 0.5rem;
}

.btn-toggle {
	background-color: $color-grey-dark;
	border: 0.2rem solid $color-grey-dark;
	border-radius: 0.4rem 0 0 0.4rem;
	min-width: 7.5rem;
	padding: 0.8rem 1.6rem;
	text-align: center;

	&:not(:last-child) {
		margin-right: 0.2rem;
	}

	&:last-child {
		border-radius: 0 0.4rem 0.4rem 0;
	}

	&--selected {
		background-color: $color-accent;
		border-color: $color-accent;
	}

	&:hover:not(&--selected) {
		background-color: darken($color-grey-dark, 10);
		border-color: darken($color-grey-dark, 10);
	}
}
