@import '../../scss/variables/colors';

.field {
	&__label {
	}

	&__input {
		background-color: $color-white;
		border: 0.1rem solid $color-input-border;
		border-radius: 0.4rem;
		height: 3.4rem;
		max-width: 100%;
		padding: 0.6rem 1.2rem;
		width: 100%;
		outline: none;
		font-size: 1.4rem;

		&:focus:not(&--error) {
			border: 0.2rem solid darken($color-input-border, 2);
		}

		&--error {
			border-color: $color-red;
		}
	}
}
