@import '../../scss/variables/colors';

.field {
	display: flex;
	flex-direction: column;
	&__label {
		margin-bottom: 1rem;
	}

	&__select {
		background-color: $color-white;
		border: 0.1rem solid #c2c2c2;
		border-radius: 0.4rem;
		height: 3.4rem;
		margin: 0;
		max-width: 50%;
		padding: 0.7rem;
		vertical-align: top;
	}
}
