$color-grey-dark: #d9d9d9;
$color-light-grey: #f8f8f8;

$color-star-border: #aaa;
$color-input-border: #c2c2c2;

$color-white: #fff;
$color-black: #000;

$color-orange-red: #ff4500;

$color-shadow-light-black: rgba(0, 0, 0, 0.3);

$color-accent: #f8ece9;
