$color-grey-dark: #999;
$color-light-grey: #f8f8f8;

$color-star-border: #aaa;

$color-white: #fff;
$color-black: #000;

$color-orange-red: #ff4500;

$color-shadow-light-black: rgba(0, 0, 0, 0.3);

$color-step-active: #f8ece9;
